/* Letra y peso */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

/* Posición de navbar*/
.navbar{
    position: absolute;
}

/* Estilo iconos y fondos*/
.icono-fondo, .tarjeta, .footer{
    background-color: rgb(3, 143, 145);
}
.icono{
    height: 30px;
}
.tarjeta-borde{
    border: none;
}
/*Display de redes sociales*/
.redes{
    display: inline-block;
}

/*Posición Viajes Chile en dispositivos grandes*/
@media(min-width:1000px){
.viajes{
    position: relative;left: 200px;
}
}

/*Posición Viajes Chile en dispositivos como iPad*/
@media(max-width:768px){
    .viajes{
        position: relative; left: 0%;
    }
    }

/*Posición Viajes Chile en dispositivos pequeños*/
@media(max-width:414px){
    .viajes{
        position:absolute;
        bottom: auto;
    }
    }

/*Posición últimos íconos en dispositivos como iPad*/
@media(max-width:768px){
    .iconos-final{
        position: relative; left: 150px;
    }
    }

/*Posición últimos íconos en dispositivos grandes*/
@media(min-width:1000px){
.iconos-final{
    position:relative;left: 200px;
}
}
