/* Letra, fondo y peso */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    background-color: black;
}

/*Smooth scrolling effect*/
html {
    scroll-behavior: smooth;
}

/* Posición de navbar*/
.navbar{
    position: absolute;
}

/* Estilo iconos y fondos*/
.icono-fondo, .tarjeta, .footer{
    background-color: rgb(3, 143, 145);
}
.icono{
    text-decoration:none;
    color: white;
}

.tarjeta-borde{
    border: none;
}
/*Display de redes sociales*/
.redes{
    display: inline-block;
}

/*Posición Viajes Chile en dispositivos grandes*/
@media(min-width:1200px){
.viajes{
    position: absolute;
    padding-left: 60px;
    padding-right: 60px;
}
}

/*Posición Viajes Chile en dispositivos como iPad*/
@media(min-width:750px){
    .viajes{
    padding-left: 20px;
    position: absolute;
}
}
